doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title map
    link(rel="stylesheet", href="/css/style.css")
  body
    .controls 
      form#controls 
        label.category-name Active Life
        input.category(type="checkbox", name="Active Life", value="Active Life", checked=(true === false ? "checked" : undefined)). 
        br
        label.category-name Arts & Entertainment
        input.category(type="checkbox", name="Arts & Entertainment", value="Arts & Entertainment", checked=(true === false ? "checked" : undefined)). 
        br
        label.category-name Automotive
        input.category(type="checkbox", name="Automotive", value="Automotive", checked=(true === false ? "checked" : undefined)). 
        br
        label.category-name Beauty & Spas
        input.category(type="checkbox", name="Beauty & Spas", value="Beauty & Spas", checked=(true === false ? "checked" : undefined)). 
        br
        label.category-name Education
        input.category(type="checkbox", name="Education", value="Education", checked=(true === false ? "checked" : undefined)). 
        br
        label.tag-name Art Galleries
        input.tag(type="checkbox", name="Art Galleries", value="Art Galleries", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Botanical Gardens
        input.tag(type="checkbox", name="Botanical Gardens", value="Botanical Gardens", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Cinema
        input.tag(type="checkbox", name="Cinema", value="Cinema", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Cultural Center
        input.tag(type="checkbox", name="Cultural Center", value="Cultural Center", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Haunted House
        input.tag(type="checkbox", name="Haunted House", value="Haunted House", checked=(true === false ? "checked" : undefined)). )
        br
        input#submit(type="submit", value="Submit").
    #map
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(type="text/javascript", src="http://maps.google.com/maps/api/js?libraries=visualization")
    script(src="/js/mapStyles.js")
    script(src="/js/script.js")
