doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    title map
    link(rel="stylesheet", href="/css/style.css")
    
body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapse(type="button", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.nav-brand(href="#")
            h3#title DataMap
        div.collapse.navbar-collapse#navbar-collapse-1
          form.navbar-form.navbar-right(role="search")
            div.form-group(id="search-bar")
              input.form-control(id="search-field", type="text", name="search", placeholder="Search")
              button.btn.btn-default(type="submit") Submit

    div.home-page
      h1#title Data Map

    #select-option
      p.more-categories Select Categories

    .controls 
      form#controls 
        label.tag-name Art Galleries
        input.tag(type="checkbox", name="Art Galleries", value="Art Galleries", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Botanical Gardens
        input.tag(type="checkbox", name="Botanical Gardens", value="Botanical Gardens", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Cinema
        input.tag(type="checkbox", name="Cinema", value="Cinema", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Cultural Center
        input.tag(type="checkbox", name="Cultural Center", value="Cultural Center", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Haunted House
        input.tag(type="checkbox", name="Haunted House", value="Haunted House", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Jazz & Blues
        input.tag(type="checkbox", name="Jazz & Blues", value="Jazz & Blues", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Museums
        input.tag(type="checkbox", name="Museums", value="Museums", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Music Venues
        input.tag(type="checkbox", name="Music Venues", value="Music Venues", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Observatories
        input.tag(type="checkbox", name="Observatories", value="Observatories", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Opera & Ballet
        input.tag(type="checkbox", name="Opera & Ballet", value="Opera & Ballet", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Performing Arts
        input.tag(type="checkbox", name="Performing Arts", value="Performing Arts", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Planetarium
        input.tag(type="checkbox", name="Planetarium", value="Planetarium", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Street Art
        input.tag(type="checkbox", name="Street Art", value="Street Art", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Coffeeshops
        input.tag(type="checkbox", name="Coffeeshops", value="Coffeeshops", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Comedy Clubs
        input.tag(type="checkbox", name="Comedy Clubs", value="Comedy Clubs", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Community Centers
        input.tag(type="checkbox", name="Community Centers", value="Community Centers", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Landmarks & Historical Buildings
        input.tag(type="checkbox", name="Landmarks & Historical Buildings", value="Landmarks & Historical Buildings", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Libraries
        input.tag(type="checkbox", name="Libraries", value="Libraries", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Art Galleries
        input.tag(type="checkbox", name="Art Galleries", value="Art Galleries", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Arts & Crafts
        input.tag(type="checkbox", name="Arts & Crafts", value="Arts & Crafts", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Books, Mags, Music & Video
        input.tag(type="checkbox", name="Books, Mags, Music & Video", value="Books, Mags, Music & Video", checked=(true === false ? "checked" : undefined)). )
        br
        label.tag-name Used Bookstore
        input.tag(type="checkbox", name="Used Bookstore", value="Used Bookstore", checked=(true === false ? "checked" : undefined)). )
        br
        input#submit(type="submit", value="Submit").


    #map

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(type="text/javascript", src="http://maps.google.com/maps/api/js?libraries=visualization")
    script(src="/js/mapStyles.js")
    script(src="/js/script.js")
