body{
  background-color: linen;
  color: saddlebrown;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1{
  margin: 0;
  color: white;
}

.navbar{
  position: relative;
  height: 60px;
  margin: 0;
  border-radius: 0px;
  z-index: 50000;
}

.

/*#title{
  position: relative;
  left: 100px;
  top: 50px;
  margin: 0;
  font-size: 3em;
}*/

/*.home-page{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F1F0EF;
  z-index: 400;
  color: #181818;
  margin: 0;
}*/

.controls{
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: .8;
  font-size: 1.5em;
  z-index: 100;
  background-color: linen;
  border-radius: .2em;
}

#map{
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
}
