body{
  background-color: linen;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.navbar{
  position: relative;
  height: 60px;
  margin: 0;
  border-radius: 0px;
  z-index: 200;
}

#title{
  position: relative;
  margin: 0;
  margin-top: 4px;
  font-size: 3em;
  color: white;
}

/*.home-page{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F1F0EF;
  z-index: 400;
  color: #181818;
  margin: 0;
}*/

#select-option{
  position: absolute;
  top: 59px;
  right: .68em;
  opacity: .9;
  font-size: 1.5em;
  text-align: center;
  height: 44px;
  z-index: 150;
  width: 250px;
  background-color: rgba(255,255,255,1);
  border: 1px solid #1A1A1A;
}

p{
  margin: 0;
}

.controls{
  position: absolute;
  top: -104px;
  right: 1em;
  opacity: .8;
  font-size: 1.5em;
  z-index: 100;
  width: 250px;
  background-color: rgba(255,255,255,0.9);
  border-radius: .2em;
  font-size: 1em;
}

form#controls input{
  position: absolute;
  right: 0px;
}

#submit{
  position: absolute;
  width: 100%;
}

#map{
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
}
