body{
  background-color: linen;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvitca, sans-serif;
}

.navbar{
  display: none;
  position: relative;
  height: 60px;
  margin: 0;
  border-radius: 0px;
  z-index: 200;
}

.logo{
  position: absolute;
  width: 10%;
  left: 30px;
  height: auto;
}

#map-icon{
  position: absolute;
  width: 80px;
  top: 20px;
}

#flame{
  position: absolute;
  width: 30px;
  margin-left: 25px;
  top: 6px;
}

h1#title{
  position: relative;
  margin: 0;
  text-align: center;
  width: 100%;
  top: 16%;
  font-size: 5em;
  color: white;
  text-shadow: 0px 4px #3C3D3F;
}

h3#title{
  position: relative;
  margin: 0;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 3em;
  color: white;
}

.home-page{
  background-image: url(../images/cartographer.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F1F0EF;
  z-index: 400;
  color: #1A1A1A;
  margin: 0;
}

h2#description{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30%;
  color: white;
  text-shadow: 0px 4px #212223;
}

.navbar-right{
  display: none;
}

#enter{
  position: absolute;
  width: 20%;
  height: 50px;
  padding-top: 3px;
  left: 40%;
  text-align: center;
  bottom: 20%;
  font-size: 2em;
  background-color: #DAE4E4;
  box-shadow: 0px 10px 0px #888888;
  color :#363636;
  border-radius: 5px;
}

.navbar-right{
  margin-top: 12px;
}

#enter:hover{
  outline: none;
  bottom: calc(20% - 2px);
  box-shadow: 0px 8px 0px #888888;
}

#enter:active{
  bottom: calc(20% - 10px);
  box-shadow: 0px 0px 0px #888888;
}

#select-option{
  position: absolute;
  top: .5em;
  right: .68em;
  opacity: .9;
  padding-top: 4px;
  font-size: 1.5em;
  text-align: center;
  height: 44px;
  z-index: 200;
  width: 250px;
  background-color: rgba(255,255,255,1);
  border: 1px solid #1A1A1A;
  cursor: pointer;
}

p{
  margin: 0;
}

.controls{
  position: absolute;
  top: 60px;
  right: 1em;
  opacity: .8;
  font-size: 1.5em;
  z-index: 100;
  width: 250px;
  background-color: rgba(255,255,255,0.9);
  border-radius: .2em;
  font-size: 1em;
}

.tag{
  position: relative;
  left: 230px;
  cursor: pointer;
}

form#controls label{
  position: absolute;
  margin-left: 10px;
}

button#select-all{
  position: absolute;
  width: 40%;
  left: 0;
}

input#submit{
  position: absolute;
  width: 60%;
  right: 0;
}

#map{
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
}
